@model TaskingSystem.Models.AssignedTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AssignedTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedTaskDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedTaskDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignmentHeadLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignmentHeadLine.AssignmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedTaskStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedTaskStudent.UserName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.AssignedTaskId">Edit</a> |
    <a class="btn btn-link" asp-action="Index">Back to List</a>
</div>
