@model IEnumerable<TaskingSystem.Models.AssignmentHeadLine>

@{
    ViewData["Title"] = "Assignment Head Lines";
}

<h1>Assignment Head Lines</h1>

<p>
    <a class=" btn btn-primary mt-4" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssignmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.UserName)
            </td>
            <td>
                    <a class=" btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.AssignmentId">Edit</a> |
                    <a class=" btn btn-dark btn-sm" asp-action="Details" asp-route-id="@item.AssignmentId">Details</a> |
                    <a class=" btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.AssignmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
